.scenario-tictactoe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 100%;
  overflow: hidden;
  margin: var(--gh-margin-xs);
  padding: var(--gh-padding-s);
  background-color: var(--gh-header-background);
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px var(--gh-card-shadow);
}

.board-item {
  background: linear-gradient(
    299deg,
    rgba(255, 0, 112, 1) 0%,
    rgba(83, 4, 255, 1) 100%
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 350px;
  height: 350px;
}

.cell-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 70px;
  color: var(--gh-text-gamename);
  border: 10px solid #c6ff41;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.cell-item:hover {
  transform: scale(1.05);
}

.tictactoe-result {
  padding: var(--gh-padding-xs) var(--gh-padding-s);
  margin: var(--gh-margin-xs) var(--gh-margin-s);
  font-size: var(--gh-fontsize-text);
  border-radius: 10px;
  background-color: var(--gh-footer-background);
  color: var(--gh-text-basic-light);
}

.hidden {
  display: none;
}

@media (min-width: 360px) {
  .scenario {
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    width: auto;
  }
  .board-item {
    width: 300px;
    height: 300px;
    border: 2px;
  }
}
