.counter-container {
  padding: var(--gh-padding-xs) var(--gh-padding-s);
  font-size: var(--gh-fontsize-buttons);
  color: var(--gh-text-basic-light);
  background-color: var(--gh-button-background-granat);
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--gh-button-background-granat);
}

.points-label {
  margin-right: auto;
}

.points-value {
  font-size: 30px;
}
