.scenario {
  flex-direction: column;
  background-color: #fb8874;
  flex-wrap: nowrap;
}

.your-hand-text,
.rival-hand-text {
  font-size: var(--gh-fontsize-text);
  padding: var(--gh-padding-xs);
}

.hands-war-result.show-result {
  padding: var(--gh-padding-xs) var(--gh-padding-s);
  margin-bottom: var(--gh-margin-s);
  font-size: var(--gh-fontsize-text);
  border-radius: 10px;
  background-color: var(--gh-footer-background);
  color: var(--gh-text-basic-light);
}

.your-hand-options {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: var(--gh-margin-xs);
  gap: var(--gh-gap-m);
}

.your-hand-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.your-hand-options button img {
  border-radius: 20px;
}

.your-hand-options button.selected {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.play-button {
  margin: var(--gh-margin-xs) 0px;
  padding: var(--gh-padding-xs) var(--gh-padding-s);
  color: var(--gh-text-button-granat);
  background-color: var(--gh-button-background-granat);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.play-button:hover {
  color: var(--gh-text-button-green);
  background-color: var(--gh-button-background-green);
}

.rival-hand-container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--gh-margin-s);
}

.rival-hand-container img {
  max-width: 150px;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 630px) {
  .your-hand-options {
    gap: 5px;
    margin: 0px 10px;
  }

  .your-hand-options button img {
    width: 80%;
  }
}
