.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
}

.modal-content {
  width: 70%;
  background: var(--gh-modal-background);
  padding: var(--gh-padding-s);
  border-radius: 5px;
  text-align: center;
}

.modal-message {
  font-size: var(--gh-fontsize-text);
  margin: var(--gh-margin-s);
}

.modal-button {
  padding: var(--gh-padding-xs) var(--gh-padding-m);
  background-color: var(--gh-button-background-green);
  color: var(--gh-text-button-green);
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px var(--gh-button-background-green);
}

.modal-button:hover {
  background-color: var(--gh-button-background-granat);
  color: var(--gh-text-button-granat);
  box-shadow: 0px 0px 30px 0px var(--gh-button-background-granat);
}
