.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: var(--gh-padding-xs);
  background-color: var(--gh-header-background);
}

.header-info {
  font-family: 'tomorrow';
  font-weight: 700;
  font-size: 30px;
}

.clear-button {
  display: inline-flex;
  padding: var(--gh-padding-xs) var(--gh-padding-s);
  background-color: var(--gh-button-background-green);
  color: var(--gh-text-basic-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.clear-button:hover {
  background-color: var(--gh-button-background-granat);
}
