.init-game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.game-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px var(--gh-card-shadow);
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 24px;
  font-weight: 400;
  color: var(--gh-text-gamename);
  padding-bottom: 20px;
  text-align: center;
}

.game-instructions,
.game-prizes {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--gh-text-basic-light);
}

.back-button {
  display: inline-flex;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--gh-card-shadow);
  color: var(--gh-text-basic-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.back-button:hover {
  color: var(--gh-card-shadow);
  background-color: var(--gh-button-background);
}
